.navbar-brand {
  padding: 10px;
}

.navbar-collapse {
    display: flex;
    flex-direction: column;
    justify-items: end;
}

#profileGrid {
  display: grid;
  grid-template-areas: "header header"
  "content sidebar"
  "footer footer";
  grid-template-rows: 300px 300px;
grid-template-columns: 300px 1fr;
}
#avatar {
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#aboutMe  {
  background: lightblue
}

#previousWorksTitle {
  background-color: lightpink;
}
#work {
  background-color: white;
}
#previousWorksTitle > h1 {
  font-size: x-large;
  /* background-color: aqua; */
}
#contactMe {
  background-color: lightseagreen ;
  height: 150px;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  
}